@page "/"

<PageTitle>Home</PageTitle>


<h1>Wagt gaan we vandaag leren.</h1>
<p>wat is onderwerp</p>
<h1>Hallo, ik ben Mehmet Lutfu Acikgoz. </h1>

<p>Ik leer HTML en dit is mijn eerste portfolio!</p>

<h2>Over mij</h2>
<p>
    Mijn interesse in programmeren begon al op jonge leeftijd. Ik ontwikkel mezelf op het gebied van webontwikkeling. In mijn vrije tijd lees ik graag boeken en ontwerp ik graag.
    <h2>Mijn Vaardigheden</h2>
    <ul>
        <li>HTML</li>
        <li>Python </li>
        <li>Problemoplloseend denken</li>
    </ul>
</p>

